<section>
    <div class="container">
        <div class="togetherdiv">
            <div class="firstdiv">
                <h2 class="container-title">Benefits of working with me</h2>
            </div>
            <div class="seconddiv">
                <div class="container-ul">
                    <ul class="container-list">
                        <li class="container-item">

                            <svg width="48" height="48" class="icon">
                                <use href="../img/icons.svg#icon-exp"></use>
                            </svg>

                            <div class="container-text">
                                <h3 class="headline">Expertise</h3>
                                <p class="title">As a highly experienced developer, I have deep knowledge of programming
                                    and
                                    website
                                    development.
                                </p>
                            </div>
                        </li>
                        <li class="container-item">

                            <svg width="48" height="48" class="icon">
                                <use href="../img/icons.svg#icon-com"></use>
                            </svg>

                            <div class="container-text">
                                <h3 class="headline">Communication</h3>
                                <p class="title">Understanding your needs and wants is my priority and I am always open
                                    to
                                    discussions
                                    and
                                    corrections.
                                </p>
                            </div>
                        </li>
                        <li class="container-item">

                            <svg width="48" height="48" class="icon">
                                <use href="../img/icons.svg#icon-art"></use>
                            </svg>

                            <div class="container-text">
                                <h3 class="headline">Art</h3>
                                <p class="title">Thanks to my creative nature, I am ready to accept challenges and help
                                    you
                                    bring
                                    your
                                    ideas
                                    to life.</p>
                            </div>
                        </li>
                        <li class="container-item">

                            <svg width="48" height="48" class="icon">
                                <use href="../img/icons.svg#icon-urg"></use>
                            </svg>

                            <div class="container-text">
                                <h3 class="headline">Urgent execution</h3>
                                <p class="title">I understand how important time is to you. Ready to work quickly and
                                    efficiently,
                                    without
                                    reducing the
                                    quality of work.</p>
                            </div>
                        </li>
                    </ul>

                    <a href="#work-together" class="order-link">Order the project</a>
                </div>
            </div>
        </div>
</section>