<section class="covers-section" id="covers-section">
  <h3 class="visually-hidden">Covers</h3>

  <div class="covers-container">
    <div class="covers-image-container">
      <ul class="cover-list">
        <li class="cover-element">
          <img
            srcset="
              /img/covers/powerpulse-1x.jpg 1x,
              /img/covers/powerpulse-2x.jpg 2x
            "
            src="/img//covers/powerpulse-1x.jpg"
            alt="powerpulse"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/mimino-1x.jpg 1x, /img/covers/mimino-2x.jpg 2x"
            src="/img/covers/mimino-1x.jpg"
            alt="mimino"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/starlightstudio-1x.jpg 1x,
              /img/covers/starlightstudio-2x.jpg 2x
            "
            src="/img/covers/starlightstudio-1x.jpg"
            alt="starlightstudio"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/englishexcellence-1x.jpg 1x,
              /img/covers/englishexcellence-2x.jpg 2x
            "
            src="/img/covers/englishexcellence-1x.jpg"
            alt="englishexellence"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/chego-1x.jpg 1x, /img/covers/chego-2x.jpg 2x"
            src="/img/covers/chego-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/energyflow-1x.jpg 1x,
              /img/covers/energyflow-2x.jpg 2x
            "
            src="/img/covers/energyflow-1x.jpg"
            alt="energyflow"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/fruitbox-1x.jpg 1x,
              /img/covers/fruitbox-2x.jpg 2x
            "
            src="/img/covers/fruitbox-1x.jpg"
            alt="fruitbox"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/greenharvest-1x.jpg 1x,
              /img/covers/greenharvest-2x.jpg 2x
            "
            src="/img/covers/greenharvest-1x.jpg"
            alt="greenharvest"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/ukrainian-art-1x.jpg 1x,
              /img/covers/ukrainian-art-2x.jpg 2x
            "
            src="/img/covers/ukrainian-art-1x.jpg"
            alt="ukrainian-art"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/wallet-1x.jpg 1x, /img/covers/wallet-2x.jpg 2x"
            src="/img/covers/wallet-1x.jpg"
            alt="wallet"
            class="covers-image hidden"
          />
        </li>
        <li class="cover-element">
          <img
            srcset="/img/covers/wallet-1x.jpg 1x, /img/covers/wallet-2x.jpg 2x"
            src="/img/covers/wallet-1x.jpg"
            alt="wallet"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/chego-1x.jpg 1x, /img/covers/chego-2x.jpg 2x"
            src="/img/covers/chego-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/ukrainian-art-1x.jpg 1x,
              /img/covers/ukrainian-art-2x.jpg 2x
            "
            src="/img/covers/ukrainian-art-1x.jpg"
            alt="ukrainian-art"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/energyflow-1x.jpg 1x,
              /img/covers/energyflow-2x.jpg 2x
            "
            src="/img/covers/energyflow-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/englishexcellence-1x.jpg 1x,
              /img/covers/englishexcellence-2x.jpg 2x
            "
            src="/img/covers/englishexcellence-1x.jpg"
            alt="englishexellence"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/fruitbox-1x.jpg 1x,
              /img/covers/fruitbox-2x.jpg 2x
            "
            src="/img/covers/fruitbox-1x.jpg"
            alt="fruitbox"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/greenharvest-1x.jpg 1x,
              /img/covers/greenharvest-2x.jpg 2x
            "
            src="/img/covers/greenharvest-1x.jpg"
            alt="greenharvest"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/mimino-1x.jpg 1x, /img/covers/mimino-2x.jpg 2x"
            src="/img/covers/mimino-1x.jpg"
            alt="mimino"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/powerpulse-1x.jpg 1x,
              /img/covers/powerpulse-2x.jpg 2x
            "
            src="/img//covers/powerpulse-1x.jpg"
            alt="powerpulse"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/starlightstudio-1x.jpg 1x,
              /img/covers/starlightstudio-2x.jpg 2x
            "
            src="/img/covers/starlightstudio-1x.jpg"
            alt="starlightstudio"
            class="covers-image hidden"
          />
        </li>
        <li class="cover-element">
          <img
            srcset="
              /img/covers/greenharvest-1x.jpg 1x,
              /img/covers/greenharvest-2x.jpg 2x
            "
            src="/img/covers/greenharvest-1x.jpg"
            alt="greenharvest"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/energyflow-1x.jpg 1x,
              /img/covers/energyflow-2x.jpg 2x
            "
            src="/img/covers/energyflow-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/fruitbox-1x.jpg 1x,
              /img/covers/fruitbox-2x.jpg 2x
            "
            src="/img/covers/fruitbox-1x.jpg"
            alt="fruitbox"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/wallet-1x.jpg 1x, /img/covers/wallet-2x.jpg 2x"
            src="/img/covers/wallet-1x.jpg"
            alt="wallet"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/chego-1x.jpg 1x, /img/covers/chego-2x.jpg 2x"
            src="/img/covers/chego-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/englishexcellence-1x.jpg 1x,
              /img/covers/englishexcellence-2x.jpg 2x
            "
            src="/img/covers/englishexcellence-1x.jpg"
            alt="englishexellence"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/mimino-1x.jpg 1x, /img/covers/mimino-2x.jpg 2x"
            src="/img/covers/mimino-1x.jpg"
            alt="mimino"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/powerpulse-1x.jpg 1x,
              /img/covers/powerpulse-2x.jpg 2x
            "
            src="/img//covers/powerpulse-1x.jpg"
            alt="powerpulse"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/starlightstudio-1x.jpg 1x,
              /img/covers/starlightstudio-2x.jpg 2x
            "
            src="/img/covers/starlightstudio-1x.jpg"
            alt="starlightstudio"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/ukrainian-art-1x.jpg 1x,
              /img/covers/ukrainian-art-2x.jpg 2x
            "
            src="/img/covers/ukrainian-art-1x.jpg"
            alt="ukrainian-art"
            class="covers-image hidden"
          />
        </li>
        <li class="cover-element">
          <img
            srcset="
              /img/covers/englishexcellence-1x.jpg 1x,
              /img/covers/englishexcellence-2x.jpg 2x
            "
            src="/img/covers/englishexcellence-1x.jpg"
            alt="englishexellence"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/chego-1x.jpg 1x, /img/covers/chego-2x.jpg 2x"
            src="/img/covers/chego-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/energyflow-1x.jpg 1x,
              /img/covers/energyflow-2x.jpg 2x
            "
            src="/img/covers/energyflow-1x.jpg"
            alt="Chego"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/fruitbox-1x.jpg 1x,
              /img/covers/fruitbox-2x.jpg 2x
            "
            src="/img/covers/fruitbox-1x.jpg"
            alt="fruitbox"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/greenharvest-1x.jpg 1x,
              /img/covers/greenharvest-2x.jpg 2x
            "
            src="/img/covers/greenharvest-1x.jpg"
            alt="greenharvest"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/mimino-1x.jpg 1x, /img/covers/mimino-2x.jpg 2x"
            src="/img/covers/mimino-1x.jpg"
            alt="mimino"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/powerpulse-1x.jpg 1x,
              /img/covers/powerpulse-2x.jpg 2x
            "
            src="/img//covers/powerpulse-1x.jpg"
            alt="powerpulse"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/starlightstudio-1x.jpg 1x,
              /img/covers/starlightstudio-2x.jpg 2x
            "
            src="/img/covers/starlightstudio-1x.jpg"
            alt="starlightstudio"
            class="covers-image hidden"
          />
          <img
            srcset="
              /img/covers/ukrainian-art-1x.jpg 1x,
              /img/covers/ukrainian-art-2x.jpg 2x
            "
            src="/img/covers/ukrainian-art-1x.jpg"
            alt="ukrainian-art"
            class="covers-image hidden"
          />
          <img
            srcset="/img/covers/wallet-1x.jpg 1x, /img/covers/wallet-2x.jpg 2x"
            src="/img/covers/wallet-1x.jpg"
            alt="wallet"
            class="covers-image hidden"
          />
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <li class="cover-element">
        <img 
        srcset="./img/covers/chego-1x.png 1x, ./img/covers/chego-2x.png 2x"
        src="./img/covers/chego-1x.png" 
        alt="Chego"
        width="544"
        height="314"
        id="chego"
        class="covers-image"/>
        <img 
        srcset="./img/covers/energyflow-1x.png 1x, ./img/covers/energyflow-2x.png 2x"
        src="./img/covers/energyflow-1x.png" 
        alt="Chego"
        width="544"
        height="314"
        id="energeflow"
        class="covers-image"/>
        <img 
        srcset="./img/covers/englishexcellence-1x.png 1x, ./img/covers/englishexcellence-2x.png 2x"
        src="./img/covers/englishexcellence-1x.png" 
        alt="englishexellence"
        width="544"
        height="314"
        id="englishexellence"
        class="covers-image"/>
        <img 
        srcset="./img/covers/fruitbox-1x.png 1x, ./img/covers/fruitbox-2x.png 2x"
        src="./img/covers/fruitbox-1x.png" 
        alt="fruitbox"
        width="544"
        height="314"
        id="fruitbox"
        class="covers-image"/>
        <img 
        srcset="./img/covers/greenharvest-1x.png 1x, ./img/covers/greenharvest-2x.png 2x"
        src="./img/covers/greenharvest-1x.png" 
        alt="greenharvest"
        width="544"
        height="314"
        id="greenharvest"
        class="covers-image"/>
        <img 
        srcset="./img/covers/mimino-1x.png 1x, ./img/covers/mimino-2x.png 2x"
        src="./img/covers/mimino-1x.png" 
        alt="mimino"
        width="544"
        height="314"
        id="mimino"
        class="covers-image"/>
        <img 
        srcset="./img/covers/powerpulse-1x.png 1x, ./img/covers/powerpulse-2x.png 2x"
        src="./img/covers/powerpulse-1x.png" 
        alt="powerpulse"
        width="544"
        height="314"
        id="powerpulse"
        class="covers-image"/>
        <img 
        srcset="./img/covers/starlightstudio-1x.png 1x, ./img/covers/starlightstudio-2x.png 2x"
        src="./img/covers/starlightstudio-1x.png" 
        alt="starlightstudio"
        width="544"
        height="314"
        id="starlightstudio"
        class="covers-image"/>
        <img 
        srcset="./img/covers/ukrainian-art-1x.png 1x, ./img/covers/ukrainian-art-2x.png 2x"
        src="./img/covers/ukrainian-art-1x.png" 
        alt="ukrainian-art"
        width="544"
        height="314"
        id="ukrainian-art"
        class="covers-image"/>
        <img 
        srcset="./img/covers/wallet-1x.png 1x, ./img/covers/wallet-2x.png 2x"
        src="./img/covers/wallet-1x.png" 
        alt="wallet"
        width="544"
        height="314"
        id="wallet"
        class="covers-image"/>
    </li>
        <li class="cover-element">
            <img 
            srcset="./img/covers/chego-1x.png 1x, ./img/covers/chego-2x.png 2x"
            src="./img/covers/chego-1x.png" 
            alt="Chego"
            width="544"
            height="314"
            id="chego"
            class="covers-image"/>
            <img 
            srcset="./img/covers/energyflow-1x.png 1x, ./img/covers/energyflow-2x.png 2x"
            src="./img/covers/energyflow-1x.png" 
            alt="Chego"
            width="544"
            height="314"
            id="energeflow"
            class="covers-image"/>
            <img 
            srcset="./img/covers/englishexcellence-1x.png 1x, ./img/covers/englishexcellence-2x.png 2x"
            src="./img/covers/englishexcellence-1x.png" 
            alt="englishexellence"
            width="544"
            height="314"
            id="englishexellence"
            class="covers-image"/>
            <img 
            srcset="./img/covers/fruitbox-1x.png 1x, ./img/covers/fruitbox-2x.png 2x"
            src="./img/covers/fruitbox-1x.png" 
            alt="fruitbox"
            width="544"
            height="314"
            id="fruitbox"
            class="covers-image"/>
            <img 
            srcset="./img/covers/greenharvest-1x.png 1x, ./img/covers/greenharvest-2x.png 2x"
            src="./img/covers/greenharvest-1x.png" 
            alt="greenharvest"
            width="544"
            height="314"
            id="greenharvest"
            class="covers-image"/>
            <img 
            srcset="./img/covers/mimino-1x.png 1x, ./img/covers/mimino-2x.png 2x"
            src="./img/covers/mimino-1x.png" 
            alt="mimino"
            width="544"
            height="314"
            id="mimino"
            class="covers-image"/>
            <img 
            srcset="./img/covers/powerpulse-1x.png 1x, ./img/covers/powerpulse-2x.png 2x"
            src="./img/covers/powerpulse-1x.png" 
            alt="powerpulse"
            width="544"
            height="314"
            id="powerpulse"
            class="covers-image"/>
            <img 
            srcset="./img/covers/starlightstudio-1x.png 1x, ./img/covers/starlightstudio-2x.png 2x"
            src="./img/covers/starlightstudio-1x.png" 
            alt="starlightstudio"
            width="544"
            height="314"
            id="starlightstudio"
            class="covers-image"/>
            <img 
            srcset="./img/covers/ukrainian-art-1x.png 1x, ./img/covers/ukrainian-art-2x.png 2x"
            src="./img/covers/ukrainian-art-1x.png" 
            alt="ukrainian-art"
            width="544"
            height="314"
            id="ukrainian-art"
            class="covers-image"/>
            <img 
            srcset="./img/covers/wallet-1x.png 1x, ./img/covers/wallet-2x.png 2x"
            src="./img/covers/wallet-1x.png" 
            alt="wallet"
            width="544"
            height="314"
            id="wallet"
            class="covers-image"/>
    </li>
    <li class="cover-element">
        <img 
        srcset="./img/covers/chego-1x.png 1x, ./img/covers/chego-2x.png 2x"
        src="./img/covers/chego-1x.png" 
        alt="Chego"
        width="544"
        height="314"
        id="chego"
        class="covers-image"/>
        <img 
        srcset="./img/covers/energyflow-1x.png 1x, ./img/covers/energyflow-2x.png 2x"
        src="./img/covers/energyflow-1x.png" 
        alt="Chego"
        width="544"
        height="314"
        id="energeflow"
        class="covers-image"/>
        <img 
        srcset="./img/covers/englishexcellence-1x.png 1x, ./img/covers/englishexcellence-2x.png 2x"
        src="./img/covers/englishexcellence-1x.png" 
        alt="englishexellence"
        width="544"
        height="314"
        id="englishexellence"
        class="covers-image"/>
        <img 
        srcset="./img/covers/fruitbox-1x.png 1x, ./img/covers/fruitbox-2x.png 2x"
        src="./img/covers/fruitbox-1x.png" 
        alt="fruitbox"
        width="544"
        height="314"
        id="fruitbox"
        class="covers-image"/>
        <img 
        srcset="./img/covers/greenharvest-1x.png 1x, ./img/covers/greenharvest-2x.png 2x"
        src="./img/covers/greenharvest-1x.png" 
        alt="greenharvest"
        width="544"
        height="314"
        id="greenharvest"
        class="covers-image"/>
        <img 
        srcset="./img/covers/mimino-1x.png 1x, ./img/covers/mimino-2x.png 2x"
        src="./img/covers/mimino-1x.png" 
        alt="mimino"
        width="544"
        height="314"
        id="mimino"
        class="covers-image"/>
        <img 
        srcset="./img/covers/powerpulse-1x.png 1x, ./img/covers/powerpulse-2x.png 2x"
        src="./img/covers/powerpulse-1x.png" 
        alt="powerpulse"
        width="544"
        height="314"
        id="powerpulse"
        class="covers-image"/>
        <img 
        srcset="./img/covers/starlightstudio-1x.png 1x, ./img/covers/starlightstudio-2x.png 2x"
        src="./img/covers/starlightstudio-1x.png" 
        alt="starlightstudio"
        width="544"
        height="314"
        id="starlightstudio"
        class="covers-image"/>
        <img 
        srcset="./img/covers/ukrainian-art-1x.png 1x, ./img/covers/ukrainian-art-2x.png 2x"
        src="./img/covers/ukrainian-art-1x.png" 
        alt="ukrainian-art"
        width="544"
        height="314"
        id="ukrainian-art"
        class="covers-image"/>
        <img 
        srcset="./img/covers/wallet-1x.png 1x, ./img/covers/wallet-2x.png 2x"
        src="./img/covers/wallet-1x.png" 
        alt="wallet"
        width="544"
        height="314"
        id="wallet"
        class="covers-image"/>
      </li> -->

<!-- </div>
  </div>   -->

<!-- Зразок однієї лішки -->

<!--   <li class="cover-element">
    <img 
srcset="./img/covers/chego-1x.png 1x, ./img/covers/chego-2x.png 2x"
src="./img/covers/chego-1x.png" 
alt="Chego"
width="544"
height="314"
id="chego"
class="covers-image"/>
<img 
srcset="./img/covers/energyflow-1x.png 1x, ./img/covers/energyflow-2x.png 2x"
src="./img/covers/energyflow-1x.png" 
alt="Chego"
width="544"
height="314"
id="energeflow"
class="covers-image"/>
<img 
srcset="./img/covers/englishexcellence-1x.png 1x, ./img/covers/englishexcellence-2x.png 2x"
src="./img/covers/englishexcellence-1x.png" 
alt="englishexellence"
width="544"
height="314"
id="englishexellence"
class="covers-image"/>
<img 
srcset="./img/covers/fruitbox-1x.png 1x, ./img/covers/fruitbox-2x.png 2x"
src="./img/covers/fruitbox-1x.png" 
alt="fruitbox"
width="544"
height="314"
id="fruitbox"
class="covers-image"/>
<img 
srcset="./img/covers/greenharvest-1x.png 1x, ./img/covers/greenharvest-2x.png 2x"
src="./img/covers/greenharvest-1x.png" 
alt="greenharvest"
width="544"
height="314"
id="greenharvest"
class="covers-image"/>
<img 
srcset="./img/covers/mimino-1x.png 1x, ./img/covers/mimino-2x.png 2x"
src="./img/covers/mimino-1x.png" 
alt="mimino"
width="544"
height="314"
id="mimino"
class="covers-image"/>
<img 
srcset="./img/covers/powerpulse-1x.png 1x, ./img/covers/powerpulse-2x.png 2x"
src="./img/covers/powerpulse-1x.png" 
alt="powerpulse"
width="544"
height="314"
id="powerpulse"
class="covers-image"/>
<img 
srcset="./img/covers/starlightstudio-1x.png 1x, ./img/covers/starlightstudio-2x.png 2x"
src="./img/covers/starlightstudio-1x.png" 
alt="starlightstudio"
width="544"
height="314"
id="starlightstudio"
class="covers-image"/>
<img 
srcset="./img/covers/ukrainian-art-1x.png 1x, ./img/covers/ukrainian-art-2x.png 2x"
src="./img/covers/ukrainian-art-1x.png" 
alt="ukrainian-art"
width="544"
height="314"
id="ukrainian-art"
class="covers-image"/>
<img 
srcset="./img/covers/wallet-1x.png 1x, ./img/covers/wallet-2x.png 2x"
src="./img/covers/wallet-1x.png" 
alt="wallet"
width="544"
height="314"
id="wallet"
class="covers-image"/>
  </li> -->

<!-- Зразок однієї картинк -->

<!--   <li class="covers-item">
<img 
srcset="./img/covers/chego-1x.png 1x, ./img/covers/chego-2x.png 2x"
src="./img/covers/chego-1x.png" 
alt="Chego"
width="544px"
height="314px"
id="chego"
class="covers-image"/>
</li> -->

<!-- незнаю чи в моєму випадку треба додавати це ?? -->

<!-- <picture>
    <source srcset="./img/............. 1x, ./img/............. 2x"  media="(min-width: 1440px)">
    <source srcset="" media="(min-width: 768px)">
    <source srcset="" media="(min-width: 375px)">
</picture> -->

<!-- <section class="covers" id="covers"> -->

<!-- щоб пристрій коректно розумів масштаб сторінки  додаємо мета для гумової сторінки -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 -->

<!-- <div class="container covers-container">
<h3 class="visually-hidden">Covers</h3> -->

<!-- <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">
 -->

<!-- <div class="content">
  <div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line">Project 1</p>
    <p class="marquee__line">Project 2</p>
    <p class="marquee__line">Project 3</p>
    <p class="marquee__line">Project 4</p>
    <p class="marquee__line">Project 5</p>
    <p class="marquee__line">Project 6</p>
    <p class="marquee__line">Project 7</p>
    <p class="marquee__line">Project 8</p>
  </div>
    <div class="marquee__inner">
    <p class="marquee__line">Project 1</p>
    <p class="marquee__line">Project 2</p>
    <p class="marquee__line">Project 3</p>
    <p class="marquee__line">Project 4</p>
    <p class="marquee__line">Project 5</p>
    <p class="marquee__line">Project 6</p>
    <p class="marquee__line">Project 7</p>
    <p class="marquee__line">Project 8</p>
  </div>
      <div class="marquee__inner">
    <p class="marquee__line">Project 1</p>
    <p class="marquee__line">Project 2</p>
    <p class="marquee__line">Project 3</p>
    <p class="marquee__line">Project 4</p>
    <p class="marquee__line">Project 5</p>
    <p class="marquee__line">Project 6</p>
    <p class="marquee__line">Project 7</p>
    <p class="marquee__line">Project 8</p>
  </div>
<div class="marquee__inner">
<p class="marquee__line">Project 1</p>
<p class="marquee__line">Project 2</p>
<p class="marquee__line">Project 3</p>
<p class="marquee__line">Project 4</p>
<p class="marquee__line">Project 5</p>
<p class="marquee__line">Project 6</p>
<p class="marquee__line">Project 7</p>
<p class="marquee__line">Project 8</p>
</div>
</div>
</div>
</div>


</section>




<ul class="covers-list">
<li class="covers-item">
    <picture>
        <source srcset="./img/............. 1x, ./img/............. 2x"  media="(min-width: 1440px)">
        <source srcset="" media="(min-width: 768px)">
        <source srcset="" media="(min-width: 375px)">
    </picture>
<img 
srcset="./img/............. 1x, ./img/............. 2x"
src="./img/............." 
alt="Power Pulse">
width=""
height=""
id="pulse"
class="covers-image"
</li>
   li* 

</ul> -->
