<section class="faq-section container" id="faq">
  <h2 class="faq-title">FAQ</h2>
  <div class="faq-container">
    <ul class="faq-list accordion-container">
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          What programming languages ​​are most often used in your project?
          <button type="button" class="btn-item ac-trigger">
            <svg
              class="faq-icon"
              width="34"
              height="34"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.5"
                y="0.5"
                width="41"
                height="41"
                rx="20.5"
                stroke="#FAFAFA"
                stroke-opacity="0.2"
              />
              <path
                d="M26 18.5L21 23.5L16 18.5"
                stroke="#FAFAFA"
                stroke-width="2"
              />
            </svg>
          </button>
        </h3>

        <p class="faq-item-text ac-panel">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          What are the deadlines for the project?<button
            type="button"
            class="btn-item ac-trigger"
            aria-label="See the answer"
          >
            <svg
              class="faq-icon"
              width="34"
              height="34"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.5"
                y="0.5"
                width="41"
                height="41"
                rx="20.5"
                stroke="#FAFAFA"
                stroke-opacity="0.2"
              />
              <path
                d="M26 18.5L21 23.5L16 18.5"
                stroke="#FAFAFA"
                stroke-width="2"
              />
            </svg>
          </button>
        </h3>

        <p class="faq-item-text ac-panel">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          What payment methods do you accept?
          <button
            type="button"
            class="btn-item ac-trigger"
            aria-label="See the answer"
          >
            <svg
              class="faq-icon"
              width="34"
              height="34"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.5"
                y="0.5"
                width="41"
                height="41"
                rx="20.5"
                stroke="#FAFAFA"
                stroke-opacity="0.2"
              />
              <path
                d="M26 18.5L21 23.5L16 18.5"
                stroke="#FAFAFA"
                stroke-width="2"
              />
            </svg>
          </button>
        </h3>

        <p class="faq-item-text ac-panel">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="faq-item ac">
        <div class="faq-item-el">
          <h3 class="faq-item-title ac-header">
            How can I contact you?
            <button
              type="button"
              class="btn-item ac-trigger"
              aria-label="See the answer"
            >
              <svg
                class="faq-icon"
                width="34"
                height="34"
                viewBox="0 0 42 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="41"
                  height="41"
                  rx="20.5"
                  stroke="#FAFAFA"
                  stroke-opacity="0.2"
                />
                <path
                  d="M26 18.5L21 23.5L16 18.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </h3>
        </div>
        <p class="faq-item-text ac-panel">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          Do you provide advice or support?
          <button
            type="button"
            class="btn-item ac-trigger"
            aria-label="See the answer"
          >
            <svg
              class="faq-icon"
              width="34"
              height="34"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.5"
                y="0.5"
                width="41"
                height="41"
                rx="20.5"
                stroke="#FAFAFA"
                stroke-opacity="0.2"
              />
              <path
                d="M26 18.5L21 23.5L16 18.5"
                stroke="#FAFAFA"
                stroke-width="2"
              />
            </svg>
          </button>
        </h3>

        <p class="faq-item-text ac-panel">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item ac">
        <div class="faq-item-el">
          <h3 class="faq-item-title ac-header">
            What does the process of developing a software product look like
            from idea to implementation?
            <button
              type="button"
              class="btn-item ac-trigger"
              aria-label="See the answer"
            >
              <svg
                class="faq-icon"
                width="34"
                height="34"
                viewBox="0 0 42 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="41"
                  height="41"
                  rx="20.5"
                  stroke="#FAFAFA"
                  stroke-opacity="0.2"
                />
                <path
                  d="M26 18.5L21 23.5L16 18.5"
                  stroke="#FAFAFA"
                  stroke-width="2"
                />
              </svg>
            </button>
          </h3>
        </div>
        <p class="faq-item-text ac-panel">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
