<section class="hero" id="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer <br />
      Lloyd Jefferson.
    </h1>
    <ul class="hero-soc-list">
      <li class="soc-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="soc-link"
          >ig
        </a>
      </li>
      <li class="soc-item">
        <a
          href="https://www.facebook.com/goitclub/"
          target="_blank"
          class="soc-link"
          >fb
        </a>
      </li>
      <li class="soc-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="soc-link"
          >yt
        </a>
      </li>
      <li class="soc-item">
        <a
          href="https://github.com/alex-miami-petrov/code_squad"
          target="_blank"
          class="soc-link"
          >gh
        </a>
      </li>
      <li class="soc-item">
        <a
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          class="soc-link-email"
          >lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
