<!-- <section class="mob-menu">
  <div class="container">
    <div class="logo">
      <img src="images/logo.png" alt="Logo" />
      <span>Lloyd Jefferson</span>
    </div>
    <button class="menu">
      <span class="icon"></span>
    </button>
    <nav class="nav-menu">
      <ul>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#work-together">Work Together</a></li>
      </ul>
    </nav>
  </div>
</і> -->
