<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-btn" type="button">
      <svg
        class="menu-close-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        aria-label="menu close button"
      >
        <use href="../img/icons.svg#icon-success-x"></use>
      </svg>
    </button>

    <nav class="mobile-nav-container">
      <ul class="mobile-nav-menu">
        <li class="mobile-nav-menu-item">
          <a class="mobile-nav-menu-item-content" href="">About me</a>
        </li>
        <li class="mobile-nav-menu-item">
          <a class="mobile-nav-menu-item-content" href="">Benefits</a>
        </li>
        <li class="mobile-nav-menu-item">
          <a class="mobile-nav-menu-item-content" href="">Projects</a>
        </li>
        <li class="mobile-nav-menu-item">
          <a class="mobile-nav-menu-item-content" href="">FAQ</a>
        </li>
      </ul>
    </nav>

    <a class="mobile-nav-menu-link-btn" href="">Order the project</a>
  </div>
</div>
