<section class="section-projects" id="projects">
  <h2 class="container projects-title">Projects</h2>
  <div class="container container-projects">
    <div class="projects-content">
      <ul class="proj-list">
        <li class="li-proj">
          <p class="p-proj">#react</p>
        </li>
        <li class="li-proj">
          <p class="p-proj">#js</p>
        </li>
        <li class="li-proj">
          <p class="p-proj">#node js</p>
        </li>
        <li class="li-proj">
          <p class="p-proj">#git</p>
        </li>
      </ul>
      <h1 class="title-proj-1">Programming Across Borders: Ideas, Technologies, Innovations</h1>
      
        <a class="btn-proj" href="https://github.com/alex-miami-petrov/code_squad" target="_blank">See project</a>
      
    </div>
    <div class="projects-images">
       <!-- Slider -->
      <div class="swiper img-slider">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
<div class="image-slider">
<picture class="img-proj">
  <source srcset="./img/desc-tab-exp-x1.png 1x, ./img/desc-tab-exp-x2.png 2x" media="(min-width: 768px)" />
  <source srcset="./img/mob-exp-x1.png, ./img/mob-exp-x2.png 2x" media="(max-width: 767px)" />
  <img class="img-sl-src" src="./img/desc-tab-exp-x1.png" alt="exp" width="614" height="385" loading="lazy">
</picture>
</div>
    </div>
    <div class="swiper-slide">
<picture class="img-proj">
  <source srcset="./img/desc-tab-pet-x1.jpg 1x, ./img/desc-tab-pet-x2.jpg 2x" media="(min-width: 768px)" />
  <source srcset="./img/mob-pet-x1.jpg 1x, ./img/mob-pet-x2.jpg 2x" media="(max-width: 767px)" />
  <img class="img-sl-src" src="./img/desc-tab-pet-x1.jpg" alt="exp" width="614" height="385" loading="lazy">
</picture>
    </div>
    <div class="swiper-slide">
<picture class="img-proj">
  <source srcset="./img/desc-tab-reg-x1.jpg 1x, ./img/desc-tab-reg-x2.jpg 2x" media="(min-width: 768px)" />
  <source srcset="./img/mob-reg-x1.jpg 1x, ./img/mob-reg-x2.jpg 2x" media="(max-width: 767px)" />
  <img class="img-sl-src" src="./img/desc-tab-reg-x1.jpg" alt="exp" width="614" height="385" loading="lazy">
</picture>
    </div>
  </div>
  <div class="btns-swiper">
 <div class="swiper-button-prev btn-proj-arr-l">
      <svg class="arrov-l-proj" width="24" height="24">
        <use href="./img/icons.svg#arrow-left"></use>
      </svg>
     </div>
     <div class="swiper-button-next btn-proj-arr-r">
       <svg class="arrov-r-proj" width="24" height="24">
        <use href="./img/icons.svg#arrow-right"></use>
      </svg>
     </div>
</div>
    </div>
  </div>
  
</section>
