<section class="section-projects">
  <div class="container container-projects">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-content">
      <ul class="proj-list">
        <li>
          <p>#react</p>
        </li>
        <li>
          <p>#js</p>
        </li>
        <li>
          <p>#node js</p>
        </li>
        <li>
          <p>#git</p>
        </li>
      </ul>
      <h1>Programming Across Borders: Ideas, Technologies, Innovations</h1>
      <button>See project</button>
    </div>
    <div class="projects-images"></div>
  </div>
</section>
