<section id="reviews" class="rev-section">
  <div id="rev" class="container rev-container">
    <h2 class="rev-title">REVIEWS</h2>
    <p class="rev-error visually-hidden">
      n&nbsp;o&nbsp;t&nbsp;&nbsp;&nbsp;f&nbsp;o&nbsp;u&nbsp;n&nbsp;d
    </p>

    <div class="rev-strip">
      <div class="swiper rev-swiper">
        <ul class="swiper-wrapper rev-list"></ul>
      </div>
      <div class="rev-buttons">
        <button class="rev-prev rev-button visually-hidden">
          <svg class="rev-icon" width="24" height="24" viewBox="0 0 24 24">
            <use href="./img/my-img.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="rev-next rev-button visually-hidden">
          <svg class="rev-icon" width="24" height="24" viewBox="0 0 24 24">
            <use href="./img/my-img.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
