* {
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.benefits {
  padding-bottom: 116px;
}

.container-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin-bottom: 32px;
}

.title {
  color: rgba(250, 250, 250, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.headline {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.order-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  margin-top: 32px;
}

.container-item {
  height: 270px;
  background-color: #242527;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-radius: 20px;
}

.container-text {
  width: 284px;
  height: 110px;
  padding: 0;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .order-link {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
  .togetherdiv {
    display: flex;
    justify-content: space-between;
  }

  .firstdiv {
    width: 681px;
    height: 675px;
  }

  .seconddiv {
    width: 681px;
    height: 675px;
  }
}
