/* ------------------------ приховування заголовка------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* -------------Стиль прихованих картинок--------------------- */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* ----------------Анімація, коли картинки з'являються-------------- */
.animated {
  opacity: 1;
  transform: translateY(0);
}

/*------------------------ стилі для контейнера covers ------------------- */
.covers-section {
  max-width: 375px;
  height: 508px;
  /* padding-bottom: 164px; */
  margin: 0 auto;
}

/* -------------------------------------------animation style for mobile---------------------- */

.covers-container {
  position: relative;
}
.covers-image-container {
  position: absolute;

  top: 0px;
  overflow: hidden;
  background-image: url(/img/covers/elements-mob-1x.png);
  background-size: cover;
  background-position: center;
  height: 508px;
  width: 375px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi) {
  .covers-image-container {
    background-image: url(/img/covers/elements-mob-2x.png);
  }
}

.cover-element {
  display: flex;
  transform: rotate(16deg);
}

.covers-image {
  flex-shrink: 0;

  margin-right: 20px;

  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(1325% / 20);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-10%);
  }

  to {
    transform: translateX(-180%);
  }
}

/* -------------------------------------TABLET---------------------- */

@media screen and (min-width: 768px) {
  .covers-section {
    max-width: 768px;
    height: 960px;
    padding-bottom: 96px;
  }

  .covers-image-container {
    height: 960px;
    width: 768px;
    background-image: url(/img/covers/elements-tab-1x.png);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .covers-image-container {
      background-image: url(/img/covers/elements-tab-2x.png);
    }
  }

  .covers-image {
    flex-shrink: 0;
    margin-right: 36px;
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(562% / 9);
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes marqueeLine {
    from {
      transform: translateX(-10%);
    }

    to {
      transform: translateX(-110%);
    }
  }
}

/* -------------------------------------------Big screens---------------------- */
@media screen and (min-width: 1440px) {
  .covers-section {
    max-width: 1440px;
    height: 960px;
    padding-bottom: 164px;
  }

  .covers-image-container {
    position: absolute;
    right: -400px;
    top: 0px;
    bottom: -1000px;
    left: 0;
    background-image: url(/img/covers/elements-pc-1x.png);
    height: 960px;
    width: 1440px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .covers-image-container {
      background-image: url(/img/covers/elements-pc-2x.png);
    }
  }

  .covers-image {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(299% / 9);
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes marqueeLine {
    from {
      transform: translateX(-10%);
    }

    to {
      transform: translateX(-110%);
    }
  }
}
