.faq-section {
  padding-bottom: 64px;
  max-width: 343px;
}

.faq-section {
  padding-bottom: 64px;
  max-width: 343px;
}

.faq-title {
  margin-bottom: 32px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-list .faq-item {
  background-color: #1c1d20;
  border: none;
  box-sizing: border-box;
  margin-top: 0;
}

.faq-item:last-child.is-active .faq-item-text {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.faq-item:last-child.js-enabled .faq-item-title {
  border-bottom-color: grey;
}

.faq-item:last-child.is-active .faq-item-title {
  border-bottom: none;
}

.faq-item.is-active .faq-item-text {
  padding-bottom: 20px;
}

.faq-item:not(:first-of-type) {
  margin-top: -1px;
}

.faq-item-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid transparent;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 20px 0;
}

.faq-list .faq-item .faq-item-title {
  padding: 20px 0;
}

button#ac-trigger-0.btn-item.ac-trigger,
button#ac-trigger-1.btn-item.ac-trigger,
button#ac-trigger-2.btn-item.ac-trigger,
button#ac-trigger-3.btn-item.ac-trigger,
button#ac-trigger-4.btn-item.ac-trigger,
button#ac-trigger-5.btn-item.ac-trigger {
  width: 34px;
  height: 34px;
  padding: 0;
}

.is-active .faq-icon {
  transform: rotate(180deg);
}

.faq-section
  .faq-container
  .faq-list
  .faq-item
  .faq-item-title
  .ac-trigger::after {
  content: none;
}

.faq-icon {
  flex-shrink: 0;
  display: block;
}

.faq-item-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
  .faq-section {
    padding-bottom: 96px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .faq-list .faq-item .faq-item-title {
    padding: 32px 0;
  }

  .faq-item.is-active .faq-item-text {
    padding-bottom: 24px;
  }

  button#ac-trigger-0.btn-item.ac-trigger,
  button#ac-trigger-1.btn-item.ac-trigger,
  button#ac-trigger-2.btn-item.ac-trigger,
  button#ac-trigger-3.btn-item.ac-trigger,
  button#ac-trigger-4.btn-item.ac-trigger,
  button#ac-trigger-5.btn-item.ac-trigger {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 42px;
  }

  .faq-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-section {
    padding-bottom: 164px;
  }

  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .faq-item {
    width: auto;
    border: none;
  }

  .faq-list .faq-item:nth-child(2n + 1) {
    border-right: 1px solid grey;
  }

  .faq-list .faq-item:nth-child(5),
  .faq-list .faq-item:nth-child(6) {
    border-bottom: 1px solid grey;
  }

  .faq-item:last-child.js-enabled .faq-item-title,
  .faq-item:last-child.is-active .faq-item-title,
  .faq-item:last-child.is-active .faq-item-text {
    border-bottom: transparent;
    gap: 0;
  }

  .faq-list .faq-item {
    border: none;
  }

  button#ac-trigger-0.btn-item.ac-trigger,
  button#ac-trigger-2.btn-item.ac-trigger,
  button#ac-trigger-4.btn-item.ac-trigger {
    width: 40px;
    margin-right: 32px;
  }

  .faq-list .faq-item:nth-child(2) .faq-item-title,
  .faq-list .faq-item:nth-child(4) .faq-item-title,
  .faq-list .faq-item:nth-child(6) .faq-item-title {
    padding-left: 32px;
  }

  .faq-list .faq-item:nth-child(2) .faq-item-text,
  .faq-list .faq-item:nth-child(4) .faq-item-text,
  .faq-list .faq-item:nth-child(6) .faq-item-text {
    padding-left: 32px;
  }

  .faq-list .faq-item-text {
    padding-right: 20px;
  }
}
