.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    height: 40px;
}

.menu {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

.icon {
    width: 30px;
    height: 3px;
    background-color: #000;
    position: relative;
}

.icon::before,
.icon::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.icon::before {
    top: -8px;
}

.icon::after {
    bottom: -8px;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 999;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 20px 0;
}

.nav-menu li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #f0a500;
}


.nav-menu.active {
    left: 0;
}


.menu.active .icon {
    background-color: transparent;
}

.menu.active .icon::before {
    transform: rotate(45deg);
    top: 0;
}

.menu.active .icon::after {
    transform: rotate(-45deg);
    bottom: 0;
}