.nav-mob-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 999;
}

.nav-mob-menu ul {
    list-style: none;
    padding: 0;
}

.nav-mob-menu li {
    margin: 20px 0;
}

.nav-mob-menu li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-mob-menu li a:hover {
    color: #f0a500;
}


.nav-mob-menu.active {
    left: 0;
}


.mob-menu.active .icon {
    background-color: transparent;
}

.mob-menu.active .icon::before {
    transform: rotate(45deg);
    top: 0;
}

.mob-menu.active .icon::after {
    transform: rotate(-45deg);
    bottom: 0;
}