.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-together {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(/img/work-together-bg/work-together-bg-mob.png);
  background-repeat: no-repeat;
  background-position: right -70px bottom -127px;
}


  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .work-together {
      background-image: url(/img/work-together-bg/work-together-bg-mob-2x.png));
    }
  }



.work-together-title-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.work-together-logo {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}

.work-together-title {
  color: #fafafa;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.work-together-span {
  color: #ed3b44;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.work-together-text {
  color: #fafafa;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.work-together-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.work-together-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.work-together-input {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-together-input:hover,
.work-together-input:focus {
  color: rgba(250, 250, 250, 1);
}

.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
}

.line.succes::after {
  background-color: rgba(60, 188, 129, 1);
}

.line.error::after {
  background-color: rgba(231, 74, 59, 1);
}

.line-succes-error {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.line-text-succes {
  color: #3cbc81;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.line-text-error {
  color: #e74a3b;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.work-together-btn {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  background-color: #ed3b44;
}

.work-together-btn:hover,
.work-together-btn:focus {
  background-color: #e0373f;
}

.work-together-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.work-together-link {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(15, 15, 16, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  border-radius: 20px;
  border: 1px rgba(250, 250, 250, 0.1);
  background: var(--Background, #1c1d20);
  margin: 0 16px;
  bottom: 138px;
}

.modal-content {
  padding: 64px 32px;
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 22px;
  height: 22px;
  background: var(--Background, #1c1d20);
  border: 1px rgba(250, 250, 250, 0.1);
}

.close-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
}

.success-title {
  align-self: stretch;
  text-align: center;
  margin-bottom: 16px;
}

.success-text {
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  align-self: stretch;
  line-height: 24px;
  letter-spacing: -0.32px;
}

@media screen and (min-width: 768px) {
  .work-together {
    padding-top: 85px;
    padding-bottom: 169px;
    background-image: url(/img/work-together-bg/work-together-bg-tab.png);
    background-position: right -170px bottom -43px;
  }



  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .work-together {
      background-image: url(/img/work-together-bg/work-together-bg-2x-tab.png);
    }
  }

  .work-together-title-img {
    gap: 20px;
    margin-bottom: 10px;
  }

  .work-together-logo {
    width: 70px;
    height: 70px;
  }

  .work-together-title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.92px;
  }

  .work-together-span {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.92px;
  }

  .work-together-text {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.92px;
    margin-bottom: 18px;
  }

  .work-together-form {
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
  }

  .work-together-wrap {
    flex-direction: row;
    gap: 32px;
  }

  .work-together-input {
    width: 245px;
  }

  .work-together-btn {
    width: 150px;
    height: 150px;
  }

  .work-together-list {
    gap: 8px;
  }

  .work-together-link {
    padding: 18px 32px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .modal {
    bottom: 195px;
  }

  .modal-content {
    width: 364px;
    padding: 64px;
  }

  .close-icon {
    width: 24px;
    height: 24px;
  }

  .success-title {
    align-self: stretch;
    text-align: center;
    margin-bottom: 16px;
  }

  .success-text {
    color: rgba(250, 250, 250, 0.6);
    text-align: center;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

@media screen and (min-width: 1440px) {
  .work-together {
    padding-top: 85px;
    padding-bottom: 169px;
    background-image: url(/img/work-together-bg-desk.png);
    background-position: right -360px bottom -43px;
  }



  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .work-together {
      background-image: url(/img/work-together-bg-2x-desk.png);
    }
  }


  .work-together-container {
    padding: 0 196px;
  }

  .work-together-title-img {
    margin-bottom: 7px;
  }

  .work-together-form {
    gap: 86px;
  }

  .work-together-input {
    width: 390px;
  }
}
